@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact Us</h2>
<p>If you have any questions, reach out to us:</p>
<ul>
    <li>Email: support@ltiinsurance.com</li>
    <li>Phone: +91-9876543210</li>
    <li>Address: LTI Insurance HQ, Mumbai</li>
</ul>
